* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 72px;
  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  .hamburger {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
  }
  


.nav-menu ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}



.nav-menu a {
    text-decoration: none;
    color: black; /* change to whatever color you want */
}


@media screen and (width>1000px) {
    
    header,main,footer {
        max-width: 1000px;
        margin-inline:auto;
    }

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    }
}